spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/school

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
