server:
  port: 8500

spring:
  application:
    name: student-service
  cloud:
    compatibility-verifier:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5433/student_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

keycloak:
  auth-server-url: http://localhost:8081
  realm: school
  client-id: school-auth
  client-secret: y31BRRlKtCXUsxRyAtMz2r00AuEvbl9u