server:
  port: 8800
spring:
  application:
    name: assessment-service
  cloud:
    compatibility-verifier:
      enabled: false

    datasource:
      url: jdbc:postgresql://localhost:5433/assessment_db
      username: postgres
      password: postgres

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka

